/* Windows 7 Spinner Animation */
.windows7-spinner {
  position: relative;
  display: inline-block;
}

.spinner-ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top-color: #0078d4;
  border-radius: 50%;
  animation: windows7-spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.spinner-ring:nth-child(1) {
  animation-delay: -0.45s;
  border-top-color: #0078d4;
}

.spinner-ring:nth-child(2) {
  animation-delay: -0.3s;
  border-top-color: #1ba1e2;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
}

.spinner-ring:nth-child(3) {
  animation-delay: -0.15s;
  border-top-color: #40a9ff;
  width: 60%;
  height: 60%;
  top: 20%;
  left: 20%;
}

.spinner-ring:nth-child(4) {
  animation-delay: 0s;
  border-top-color: #69c0ff;
  width: 40%;
  height: 40%;
  top: 30%;
  left: 30%;
}

@keyframes windows7-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

